<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharing.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.sharing.pojo.Order">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="order_no" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="tag" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="accept_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="return_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="location_latitute" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="location_longitude" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="User_Profile_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="assets" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="accept_user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, status, description, tag, create_time, accept_time, return_time, location_latitute, 
    location_longitude, User_Profile_id, assets, accept_user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sharing.order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sharing.order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sharing.pojo.Order">
    insert into sharing.order (id, order_no, status,
      description, tag, create_time, 
      accept_time, return_time, location_latitute, 
      location_longitude, User_Profile_id, assets, 
      accept_user_id)
    values (#{id,jdbcType=INTEGER}, #{orderNo,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{tag,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{acceptTime,jdbcType=TIMESTAMP}, #{returnTime,jdbcType=TIMESTAMP}, #{locationLatitute,jdbcType=DECIMAL}, 
      #{locationLongitude,jdbcType=DECIMAL}, #{userProfileId,jdbcType=INTEGER}, #{assets,jdbcType=VARCHAR}, 
      #{acceptUserId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sharing.pojo.Order">
    insert into sharing.order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="acceptTime != null">
        accept_time,
      </if>
      <if test="returnTime != null">
        return_time,
      </if>
      <if test="locationLatitute != null">
        location_latitute,
      </if>
      <if test="locationLongitude != null">
        location_longitude,
      </if>
      <if test="userProfileId != null">
        User_Profile_id,
      </if>
      <if test="assets != null">
        assets,
      </if>
      <if test="acceptUserId != null">
        accept_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptTime != null">
        #{acceptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnTime != null">
        #{returnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="locationLatitute != null">
        #{locationLatitute,jdbcType=DECIMAL},
      </if>
      <if test="locationLongitude != null">
        #{locationLongitude,jdbcType=DECIMAL},
      </if>
      <if test="userProfileId != null">
        #{userProfileId,jdbcType=INTEGER},
      </if>
      <if test="assets != null">
        #{assets,jdbcType=VARCHAR},
      </if>
      <if test="acceptUserId != null">
        #{acceptUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sharing.pojo.Order">
    update sharing.order
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptTime != null">
        accept_time = #{acceptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnTime != null">
        return_time = #{returnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="locationLatitute != null">
        location_latitute = #{locationLatitute,jdbcType=DECIMAL},
      </if>
      <if test="locationLongitude != null">
        location_longitude = #{locationLongitude,jdbcType=DECIMAL},
      </if>
      <if test="userProfileId != null">
        User_Profile_id = #{userProfileId,jdbcType=INTEGER},
      </if>
      <if test="assets != null">
        assets = #{assets,jdbcType=VARCHAR},
      </if>
      <if test="acceptUserId != null">
        accept_user_id = #{acceptUserId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sharing.pojo.Order">
    update sharing.order
      set order_no = #{orderNo,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      accept_time = #{acceptTime,jdbcType=TIMESTAMP},
      return_time = #{returnTime,jdbcType=TIMESTAMP},
      location_latitute = #{locationLatitute,jdbcType=DECIMAL},
      location_longitude = #{locationLongitude,jdbcType=DECIMAL},
      User_Profile_id = #{userProfileId,jdbcType=INTEGER},
      assets = #{assets,jdbcType=VARCHAR},
      accept_user_id = #{acceptUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectList" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sharing.order
    where location_latitute &gt;= #{latituteBot}
    and location_latitute &lt;= #{latituteUp}
    and location_longitude &gt;= #{longitudeBot}
    and location_longitude &lt;= #{longitudeUp}
    and tag in
    <foreach close=")" collection="tags" index="index" item="tag" open="(" separator=",">
      #{tag}
    </foreach>
  </select>

  <select id="selectByOrderNo" parameterType="long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sharing.order
    where order_no=#{orderNo}
  </select>




</mapper>